#logo {
  max-width: 250px;
}

#big-name {
  border: .5px black solid;
  border-radius: 5px;
}

#home {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
}

#navbar {
  border: .5px black solid;
  margin-top: 2px;
}

#landing {
  margin-top: 5px;
  max-width: 90%;
}

#falafel {
  max-height: 500px;
}

#menu {
  margin-top: 100px;
}

#menu-img {
  max-width: 100%;
  min-height: 750px;
  background-color: red;
  margin-top: 20px;
}