.logo {
  max-width: 250px;
}

#big-name {
  border: .5px black solid;
  border-radius: 5px;
}

.home {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
}

.navbar {
  border: .5px black solid;
  margin-top: 2px;
  margin-bottom: 5px;
}

#landing {
  margin-top: 5px;
  max-width: 90%;
}

#falafel {
  max-height: 500px;
}

#menu {
  margin-top: 100px;
}

.profile-pic {
  border: 2px solid black;
}

#our-team {
  font-size: 36px;
  margin-bottom: 5px;
}

.bio {
  text-align: justify;
}